In [1]:
import pandas as pd
import os
import math

In [2]:
path = "F:\\Regression Analysis\\RA_P1\\data\\total_sum_car_sorted\\"

In [18]:
files = os.listdir(path)
dfs = [pd.read_csv(path + file, header=0) for file in files]
for df in dfs:
    df['code'] = df['code'].astype(str)
    df['est_sum_total_est'] = df['est_sum_total_est'].astype(int)

In [19]:
def get_sum(df):
    sum_car_est = 0
    count_car_est = 0
    for index, row in df.iterrows():
        # row['date'] = str(row['date']).apply(lambda x: jdatetime.datetime.strptime(x, "%Y-%m-%d").date())
        if (str(row.date) > "1401-12-25" and (str(row.date) < "1402-01-17")):
            if not math.isnan(row.car_est):
                sum_car_est += row.car_est
                count_car_est += 1

    if (count_car_est == 0):
        return -1
    mean_car_est = sum_car_est/count_car_est
    # print(f"code: {df.code[0]}, sum: {sum_car_est}, count: {count_car_est}, mean: {mean_car_est}")
    return int(mean_car_est * 20)

In [21]:
def get_nerkh(new, old):
    return (new - old)/old * 100

In [26]:
df02 = dfs[0]
df03 = dfs[1]

df = df03.merge(df02, on='code', how='left')
df = df[df.columns.drop('name_y')]

# df.apply(lambda row: row.est_sum_total_est_x + row.est_sum_total_est_y, axis=1)
df['nerkh_roshd'] = df.apply(lambda row: get_nerkh(row.est_sum_total_est_x, row.est_sum_total_est_y), axis=1)
df = df.sort_values(by="nerkh_roshd", ascending=False)
df.to_csv(path + "compared.csv")
df

,code,name_x,est_sum_total_est_x,est_sum_total_est_y,nerkh_roshd
1543,513404.0,خمين - اليگودرز,80584,4993.0,1513.939515
2076,333151.0,بيرجند - سرايان (سرايان),43714,7167.0,509.934422
358,113413.0,آبعلي - پلور (سه‌راهي مشاء - امامزاده هاشم),352563,63698.0,453.491475
14,113203.0,آزادراه تهران - قم (مجتمع ياس),1554726,293375.0,429.944951
1948,333158.0,عرب آباد - ديهوک,50662,9808.0,416.537520
...,...,...,...,...,...
2634,673755.0,گرماب - زرينه رود,2632,NaN,NaN
2635,933304.0,رباط پشت بادام - خور,1961,NaN,NaN
2636,213201.0,رامشه - ابرکوه,1916,NaN,NaN
2637,933354.0,خور - رباط پشت بادام,1312,NaN,NaN
2638,673126.0,طارم - ماسوله (مرز استان),851,NaN,NaN